<template name="header">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{pathFor 'chatRoom'}}">KOPAJ Mix</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          {{#if currentUser}}
            <li><a href="{{pathFor 'userDetails'}}">Felhasználói adatok</a></li>
          {{/if}}
          {{> loginButtons}}
        </ul>
      </div>
    </div>
  </nav>
</template>