<template name="login">
    <li id="login-dropdown-list" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Belépés <b class="caret"></b></a>
        <div class="dropdown-menu">
            <input id="login-username" type="text" placeholder="Felhasználónév" class="form-control">
            <input id="login-password" type="password" placeholder="Jelszó" class="form-control">
            <button class="btn btn-primary col-xs-12 col-sm-12" id="login-buttons-password" type="button">
                Belépés
            </button>
        </div>
    </li>
</template>