<template name="events">
    <div class="events page container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="text-center">Show events</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table class="events">
                    {{#each getEvents}}
                        <tr>
                            <td class="text">{{name}}</td>
                            <td class="homePoints right-text">1
                            <input name="{{name}}" id="1" type="radio" checked="{{checked}}" class="toggle-checked" /></td>

                            <td class="homePoints right-text">X
                            <input name="{{name}}" id="2" type="radio" checked="{{checked}}" class="toggle-checked" /></td>

                            <td class="homePoints right-text">2
                            <input name="{{name}}" id="3" type="radio" checked="{{checked}}" class="toggle-checked" /></td>
                        </tr>
                    {{/each}}
                </table>
            </div>
        </div>
    </div>
</template>