<template name="events">
    <div class="events page container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="text-center">Show events</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <ul class="list-unstyled">
                    {{#each getEvents}}
                            <span class="text">{{name}}</span>
                            <span class="homePoints">{{homePoints}}</span>
                            <input name="{{name}}" type="radio" checked="{{checked}}" class="toggle-checked" />

                            <span class="homePoints">{{xPoints}}</span>
                            <input name="{{name}}" type="radio" checked="{{checked}}" class="toggle-checked" />

                            <span class="homePoints">{{homePoints}}</span>
                            <input name="{{name}}" type="radio" checked="{{checked}}" class="toggle-checked" />
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</template>