<template name="rangList">
    <div class="rangList page container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="text-center"><b>Show ranglist</b></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table class="ranglist">
                    {{#each getRangList}}
                        <tr>
                            <td>{{@index}}. {{username}}</td>
                        </tr>
                    {{/each}}
                </table>
            </div>
        </div>
    </div>
</template>